[user]
	name  = Sergei Kolobov
	email = {{ .email | quote }}

[core]
  excludesfile = ~/.config/git/ignore
  whitespace = -indent-with-non-tab,trailing-space,cr-at-eol
  quotepath = false
  autocrlf = input
  pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true

[merge]
  summary = true
  conflictstyle = diff3

[diff]
  colorMoved = default
  indentHeuristic = true
  compactionHeuristic = true

[alias]
  br = branch
  co = checkout
  ci = commit
  glog = log -E -i --grep
  sla = log --oneline --decorate --graph --all
  st = status
  unstage = reset HEAD --
  uncommit = reset --soft HEAD^

[apply]
  whitespace = nowarn

[pull]
	rebase = true

[push]
  default = current

[color]
  ui = always

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
